/*nav */
.navbar {
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 10;
    padding: 0px 10px;
    position: fixed;


}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.nav-container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.navlinks {
    color: #00000059;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20%;
    margin-left: -20%;
    font-size: 20px;
    font-weight: 700;
    visibility: visible;


}

.navlinks a {
    text-decoration: none;
    color: inherit;
    line-height: 50px;
}

.navlogo {
    color: #00000080;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;

}

.navlogo::after {
    content: ".";
    color: var(--maincolor);
}

.nav-container i {
    font-size: 30px;
}

.nav_menu {
    position: absolute;
    top: 8px;
    left: 90%;
    visibility: hidden;
}

.nav_menu button {
    border: none;
    font-size: 40px;
    background-color: transparent;

}

.menubtn {
    position: relative;
    color: #000000;
    top: 2px;
    left: 0;
}

.menu_items {
    background-color: #cececee1;
    position: absolute;
    height: 200vh;
    padding: 20px;
    padding-top: 50px;
    top: -10px;
    z-index: -1;
    padding-right: 150px;
    left: 500px;
}

.menu_items a {
    font-size: 45px;
    position: relative;
    top: 50px;
    left: 45px;
    line-height: 2;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: secondaryfont;

}


@media screen and (max-width:1050px) {
    .navlinks {
        visibility: hidden;
    }

    .nav_menu {
        visibility: visible;
    }

}


/*home*/
@font-face {
    font-family: secondaryfont;
    src: url(/fonts/TUZyzwprpvBS1izr_vOECuSf.woff2);
}

.trans {
    transition: ease all 0.3s;
}

body {
    position: relative;
    width: 1440px;
    left: 50%;
    transform: translate(-50%);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.marawn_home_ing img {
    width: 550px;
    position: a;
    filter: drop-shadow(10px 10px 10px black) grayscale(10%);
}

.marawn_home_container h1 {
    font-family: secondaryfont;
    font-size: 60px;
    font-weight: 690;
    max-width: 800px;
    text-align: center;
}

.marawn_home_container {
    width: 105%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 100px;
}

.marawn_home_talk h1,
p {
    position: relative;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.marawn_home_container p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.marawn_home_btns {
    position: relative;
    top: 120px;
    left: 20%;
}

.marawn_home_btns button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    -webkit-border-radius: 50px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 50px;
    -moz-border-radius-topleft: 0;
    border-radius: 50px;
    border-top-left-radius: 0;
    border: none;

    color: white;

}

.marawanbtn {
    background-color: var(--maincolor);
}

:root {
    --maincolor: #ce1212;
    /*light*/
}

.triangle {
    content: "";
    top: -25px;
    left: 120px;
    width: 0;
    position: absolute;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid var(--maincolor);
    border-bottom: 50px solid transparent;
    transform: scale(0.15);
}

.trianglea {
    position: absolute;
    transform: scale(1.99);
    top: -15px;
    width: 1000px;
    left: 530px;
    color: black;
    height: 100px;
    content: "Watch the video";
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;
}

.sda img {
    transform: rotate(270deg);
    width: 70px;
    height: 90px;
    position: absolute;
    top: -20px;
    left: 124px;
}

.homemain {
    max-width: 2000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* chefs */
  /* variables */
  :root {
    /* ? ######## Colors */
    --maincolor: rgb(206, 18, 18);
    /*light*/
    --darkcolor: rgb(255, 166, 0);
    --color-default: #212529;
    --primary-hue: 0;
    --primary-saturation: 84%;
    --primary-lightness: 44%;
    --color-primary: hsl(
      var(--primary-hue),
      var(--primary-saturation),
      var(--primary-lightness)
    );
    --color-secondary: #37373f;
    --color-tertiary: #7f7f90;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 100%;
    --color-light: hsl(
      var(--light-hue),
      var(--light-saturation),
      var(--light-lightness)
    );
    --color-light-grey: #eee;
    /* ? ######## Fonts */
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    /* ? ######## Animation options */
    --animation-duration: 400ms;
  }
  #E-chefs {
    padding: 5rem 0;
  }
  .main-title h2 {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  .main-title {
    text-align: center;
  }
  .main-title p {
    font-size: 3.125rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .main-title span {
    color: var(--color-primary);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
  }
  .E-chefs
  {
    height: 1000px;
  }
  .chefs-cards {
    --gap: 1.875rem;
    padding-block: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  .chefs-cards .card {
    width: calc(calc(100% - var(--gap) * 2) / 3);
    background-color: white;
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    transition: scale var(--animation-duration);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .chefs-cards .card:hover {
    scale: 1.07;
  }
  .chefs-cards p
  {
    margin-bottom: 100px;
  }
  .chefs-cards .card picture {
    width: 100%;
    position: relative;
  }
  .chefs-cards img {
    width: 100%;
  }
  .chefs-cards .card-content {
    padding: 1.625rem;
    padding-top: 0.625rem;
  }
  .chefs-cards .card span {
    font-size: 0.875rem;
    color: var(--color-body);
    margin-block: 0.3125rem 0.625rem;
  }
  .chefs-cards .card p {
    font-style: italic;
    color: var(--color-body);
    position: relative;
    top:30px;
  }
  
  .chefs-cards .social-box {
    background-color: #ffffff4d;
    width: fit-content;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    position: absolute;
    top: 1.875rem;
    right: -3.125rem;
    transition: right calc(var(--animation-duration) / 2);
  }
  
  .chefs-cards .card:hover .social-box {
    right: 0.625rem;
    transition: right var(--animation-duration) var(--animation-duration);
  }
  
  .chefs-cards .social-box i {
    font-size: 1.125rem;
    padding: 0.625rem 0.3125rem;
    color: #37373f66;
    transition: color var(--animation-duration);
  }
  
  .chefs-cards .social-box i:hover {
    color: #37373fe6;
  }
  .card li {
    list-style: none;
  }
  

/* gall */
@font-face {
    font-family: secondaryfont;
    src: url(/fonts/TUZyzwprpvBS1izr_vOECuSf.woff2);
}

.container_marwan_gall h2 {
    font-family: secondaryfont;
    font-size: 50px;
}

.container_marwan_gall h4 {
    color: white;
    font-weight: 900;
    font-size: 60px;
    font-family: secondaryfont;
}

.container_marwan_gall p {
    color: white;

}

.talk {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.container_marwan_gall h3 {
    font-family: secondaryfont;
    font-size: 50px;
    margin-left: 10px;
    color: var(--maincolor);

}

.head {
    display: flex;
    position: relative;
    left: 50%;
    width: fit-content;
}

body {
    width: 200vh;
    overflow-x: hidden;
}

.gall_marawan_imges img {
    position: relative;
    width: 389px;
    overflow: hidden;


}

.container_marwan_gall {
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-61%);

}

.pizza2 {
    position: relative;
    width: 389px;
    height: 24%;
    overflow: hidden;
    border: solid 3px white;
}

.pizza1 {
    position: relative;
    width: 389px;
    height: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 3px white;


}

.slide2 {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 700px;
    transition: ease all 0.3s;
}

.pizza1:hover .slide2 {
    top: 0px;
}

.pizza2:hover .slide2 {
    top: 0px;
}



/* contact */
.contact{
  width:100%;
  /* background-color: #00ff22; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

      
}
.map{
  width: 100%;
  height: 300px;
}
.info {
  --gap: 20px;
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
}

.info > div {
  width: 45%;
  display: flex;
  align-items: center;
}

.info a{
  text-decoration: none;
  color: black;
}
.info .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color:#ce1212;
  border-radius: 50%;
  margin-right: 10px;
}

.info .icon i {
  color: white;
  font-size: 1.125rem;
}
.first-email{
  display: flex;
  justify-content: space-between;
}

.fe{
  border: 2px solid #e0e0e0;
  padding-left: 20px;
  border-radius: 2px;
  height: 50px;
  width: 49.5%; 
}

.input{
  border: 2px solid #e0e0e0;
  padding-left: 20px;
  border-radius: 2px;
  height: 50px;
  width: 100%;
}
input:focus {
outline: 2px solid #FF2200;
outline-offset: -2px;
transition: all 0.2s;
}
.textarea{
  border: 2px solid #e0e0e0;
  width: 100%;
  padding-left: 20px;

}
.textarea:focus{
  outline: 2px solid #FF2200;
outline-offset: -2px;
  transition: all 0.2s;

}

.formbtn{
  color: white;
  background-color: #ce1212;
  border: 0;
  border-radius: 100vh;
  height: 50px;
  width:200px;
}

/*  footer */
footer {
    background-image: linear-gradient(#0009, #0009),
      url(../image/textured-metal-background.webp);
    color: white;
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
  }
  .container {
    --gap: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
    padding: 50px 0px;
  }
  .logo h2 {
    padding-top: 20px;
    padding: 20px 0px;
  }
  footer .f-intro img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .logo {
    font-size: 30px;
    font-family: var(--font-default);
    padding-top: 5px;
  }
  #eslam-p
{
    top:0px;
}
#get-intotch
{
    padding-left: 40px;
}
#eslam-quci-link
{
    position: relative;
    left: -30px;
}
.social-links
{
    position: relative;
    left: -0px;
}
#e-map
{
    position: relative;
    left: 4px;
    top: 8px;
}
  footer .intro-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
  footer .intro-logo h2 {
    text-align: center;
    display: inline;
    font-family: var(--font-default);
  }
  footer h2::after {
    content: ".";
    color: var(--color-primary);
  }
  .f-intro h3 {
    display: flex;
    border-bottom: 2px solid var(--color-tertiary);
    justify-content: center;
    padding-bottom: 10px;
  }
  .f-intro p {
    padding: 10px 0px;
    font-family: var(--font-default);
  }
  .social-links {
    display: flex;
    justify-content: space-evenly;
  }
  .social-links li {
    list-style: none;
    text-align: center;
  }
  .social-links i {
    color: white;
  }
  .subs-2 input {
    width: 75%;
    padding: 10px 0px 10px 5px;
  }
  .subs-2 button {
    padding: 10px 0px;
    width: 24%;
    background-color: var(--color-primary);
    border: none;
    color: white;
    font-family: var(--font-default);
    font-size: 18px;
  }
  .subs-2 button:hover {
    opacity: 0.9;
  }
  .quick-links h3 {
    margin: 10px 0px;
  }
  .quick-links ul {
    --gap: 1.25rem;
    margin-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap);
  }
  .quick-links ul li {
    width: calc(calc(100% - var(--gap)) / 2);
    padding: 5px 5px 5px 0px;
    position: relative;
    transition: transform var(--animation-duration),
      background-color var(--animation-duration);
    list-style: none;
  }
  .quick-links ul li:hover {
    transform: translateX(10px);
    background-color: #222;
  }
  .quick-links ul li::before {
    content: "> ";
    font: var(--fa-font-solid);
    margin-right: 5px;
  }
  .f-contact h3 {
    margin-bottom: 10px;
  }
  .f-contact ul li {
    display: flex;
    align-items: start;
    gap: 8px;
  }
  .f-contact ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: start;
    justify-content: center;
    align-items: start;
    color: var(--color-primary);
    font-size: 18px;
  }
  